.home {
    margin-top: 124px;
}

.home-contain {
    padding: 20px 60px;
}

/* home type */
.home-type {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 30px 0;
    padding: 0 200px;
}

.home-type div {
    position: relative;
    border: 2px solid #23908c;
    cursor: pointer;
    height: 80px;
}

.home-type a {
    width: 50%;
    height: 100%;
    top: -50%;
    left: 25%;
    position: absolute;
    background-color: #fff;
    font-size: 50px;
}

.home-type p {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    left: 0;
    right: 0;
    color: #28282D;
    font-size: 24px;
    margin: 0;
}

.contain-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background-color: #498374;
    padding: 12px 24px;
    color: #fff;
    margin: 20px 0;
    position: relative;
}

.contain-title::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 87vw;
    bottom: 0;
    border-bottom: 2px solid #ddd;
    z-index: -1;
}

/* contain main */

.contain-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 41px;
}

.contain-main a {
    width: 17%;
}

/* home footer */
.home .home-banner {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    margin: 40px 0;
    margin-bottom: 20px;
}

.home-banner img {
    width: 100%;
}

/* home mobile */
.home-contain-mobile {
    padding: 10px;
    display: none;
}

/* Trên máy tính bảng */
@media only screen and (min-width: 740px) and (max-width: 1024px) {}

@media only screen and (max-width: 740px) {
    .home {
        margin-top: 80px;
    }

    .contain-main {
        display: none;
    }

    .home-contain {
        padding: 12px;
    }

    .home-type {
        padding: 12px;
        gap: 24px;
        margin: 12px;
    }

    .home-type div {
        height: 60px;
    }

    .home-type a {
        font-size: 36px;
    }

    .home-type p {
        font-size: 16px;
    }

    .home-contain-mobile {
        display: block;
    }
}